<div>
    <table>
        <tr>
            <td>Name:</td>
            <td><input ng-model="project.name"/></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input ng-model="project.status" type="checkbox"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button ng-click="save(project)">save</button>
            </td>
        </tr>
    </table>
</div>