<div>
    <div>
        Employee name: <input ng-model="employeeEmail">
        <button ng-click="findEmployeeProjects()">find</button>
    </div>
    <br>

    <div>
        Company name: <input ng-model="companyName">
        <button ng-click="findCompanyProjects()">find</button>
    </div>
    <br>

    <div>
        Project name: <input ng-model="projectName">
        <button ng-click="find()">find</button>
        <div>
            {{project.name}}
            {{project.status}}
        </div>
    </div>
    <br>

    <div>
        Projects:
        <table>
            <tr>
                <th>name</th>
                <th>status</th>
                <th>company</th>
            </tr>
            <tr ng-repeat="project in projects">
                <td ng-hide="isEdit"><a ng-href="project/{{project.id}}">{{project.name}}</a></td>
                <td ng-hide="isEdit" ng-if="project.status">Active</td>
                <td ng-hide="isEdit" ng-if="!project.status">Inactive</td>
                <td ng-hide="isEdit">{{project.company.name}}</td>
                <td ng-hide="isEdit"><button ng-click="isEdit=!isEdit">Edit</button></td>
                <td ng-hide="isEdit"><button ng-click="delete(project.id)">x</button></td>

                <td ng-show="isEdit"><input ng-model="project.name"/></td>
                <td ng-show="isEdit"><input ng-model="project.status" type="checkbox"/></td>
                <td ng-show="isEdit"><button ng-click="isEdit=!isEdit; update(project)">Save</button></td>
            </tr>
        </table>
    </div>
    <br>

    <div>
        Add project:
        <table>
            <tr>
                <td>Name: </td>
                <td><input ng-model="name"/></td>
            </tr>
            <tr>
                <td>Company: </td>
                <td><select ng-model="company"
                            ng-options="company.name disable when !company.status for company in companies"></select></td>
            </tr>
            <tr>
                <td></td>
                <td><button ng-click="add()">add</button></td>
            </tr>
        </table>
    </div>
</div>