<div>
    <table>
        <tr>
            <td>Name:</td>
            <td><input ng-model="employee.name"/></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input ng-model="employee.surname"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input ng-model="employee.password"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input ng-model="employee.email"/></td>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input ng-model="employee.role"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button ng-click="save(employee)">save</button>
            </td>
        </tr>
        <tr>
            <td>Companies:</td>
            <td>
                <table>
                    <tr ng-repeat="company in employeeCompanies">
                        <td><a ng-href="company/{{company.id}}">{{company.name}}</a></td>
                        <td>
                            <button ng-click="deleteCompany(company.id)">-</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-hide="isAddCompany"></td>
                        <td ng-hide="isAddCompany">
                            <button ng-click="isAddCompany=!isAddCompany; addCompany()">+</button>
                        </td>
                        <td ng-show="isAddCompany">
                            <select ng-model="company"
                                    ng-options="company.name disable when !company.status for company in companies"></select>
                        </td>
                        <td ng-show="isAddCompany">
                            <button ng-click="isAddCompany=!isAddCompany; saveCompany(company)">v</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Projects:</td>
            <td>
                <table>
                    <tr ng-repeat="project in employeeProjects">
                        <td><a ng-href="project/{{project.id}}">{{project.name}}</a></td>
                        <td>
                            <button ng-click="deleteProject(project.id)">-</button>
                        </td>
                    </tr>
                    <tr>
                        <td ng-hide="isAddProject"></td>
                        <td ng-hide="isAddProject">
                            <button ng-click="isAddProject=!isAddProject; addProject()">+</button>
                        </td>
                        <td ng-show="isAddProject">
                            <select ng-model="project"
                                    ng-options="project.name disable when !project.status for project in projects"></select>
                        </td>
                        <td ng-show="isAddProject">
                            <button ng-click="isAddProject=!isAddProject; saveProject(project)">v</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>