<div>
    <div>
        Company name: <input ng-model="companyName">
        <button ng-click="findCompanyEmployees()">find</button>
    </div>
    <br>

    <div>
        Project name: <input ng-model="projectName">
        <button ng-click="findProjectEmployees()">find</button>
    </div>
    <br>

    <div>
        Employee email: <input ng-model="employeeEmail">
        <button ng-click="find()">find</button>
        <div>
            {{employee.name}}
            {{employee.surname}}
            {{employee.password}}
            {{employee.email}}
            {{employee.role}}
        </div>
    </div>

    <br>

    <div>
        Employees:
        <table>
            <tr>
                <th>name</th>
                <th>surname</th>
                <th>password</th>
                <th>email</th>
                <th>role</th>
            </tr>
            <tr ng-repeat="employee in employees">
                <td ng-hide="isEdit"><a ng-href="employee/{{employee.id}}">{{employee.name}}</a></td>
                <td ng-hide="isEdit">{{employee.surname}}</td>
                <td ng-hide="isEdit">{{employee.password}}</td>
                <td ng-hide="isEdit">{{employee.email}}</td>
                <td ng-hide="isEdit">{{employee.role}}</td>
                <td ng-hide="isEdit"><button ng-click="isEdit=!isEdit">Edit</button></td>
                <td ng-hide="isEdit"><button ng-click="delete(employee.id)">x</button></td>

                <td ng-show="isEdit"><input ng-model="employee.name"/></td>
                <td ng-show="isEdit"><input ng-model="employee.surname"/></td>
                <td ng-show="isEdit"><input ng-model="employee.password"/></td>
                <td ng-show="isEdit"><input ng-model="employee.email"/></td>
                <td ng-show="isEdit"><input ng-model="employee.role"/></td>
                <td ng-show="isEdit"><button ng-click="isEdit=!isEdit; update(employee)">Save</button></td>
            </tr>
        </table>
    </div>
    <br>

    <div>
        Add employee:
        <table>
            <tr>
                <td>Name: </td>
                <td><input ng-model="name"/></td>
            </tr>
            <tr>
                <td>Surname: </td>
                <td><input ng-model="surname"/></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input ng-model="password"/></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input ng-model="email"/></td>
            </tr>
            <tr>
                <td>Role: </td>
                <td><input ng-model="role"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button ng-click="add()">add</button></td>
            </tr>
        </table>
    </div>
</div>