<div>
    <div>
        Employee name: <input ng-model="employeeEmail">
        <button ng-click="findEmployeeCompanies()">find</button>
    </div>
    <br>

    <div>
        Project name: <input ng-model="projectName">
        <button ng-click="findProjectCompany()">find</button>
    </div>
    <br>

    <div>
        Company name: <input ng-model="companyName">
        <button ng-click="find()">find</button>
        <div>
            {{company.name}}
            {{company.status}}
        </div>
    </div>
    <br>

    <div>
        Companies:
        <table>
            <tr>
                <th>name</th>
                <th>status</th>
            </tr>
            <tr ng-repeat="company in companies">
                <td ng-hide="isEdit"><a ng-href="company/{{company.id}}">{{company.name}}</a></td>
                <td ng-hide="isEdit" ng-if="company.status">Active</td>
                <td ng-hide="isEdit" ng-if="!company.status">Inactive</td>
                <td ng-hide="isEdit"><button ng-click="isEdit=!isEdit">Edit</button></td>
                <td ng-hide="isEdit"><button ng-click="delete(company.id)">x</button></td>

                <td ng-show="isEdit"><input ng-model="company.name"/></td>
                <td ng-show="isEdit"><input ng-model="company.status" type="checkbox"/></td>
                <td ng-show="isEdit"><button ng-click="isEdit=!isEdit; update(company)">Save</button></td>
            </tr>
        </table>
    </div>
    <br>

    <div>
        Add company:
        <table>
            <tr>
                <td>Name: </td>
                <td><input ng-model="name"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button ng-click="add()">add</button></td>
            </tr>
        </table>
    </div>
</div>